<div class="search-form mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input
                type="text"
                class="form-control"
                id="search-input"
                name="q"
                placeholder="Nhập từ khóa..."
            />

        </div>
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <select
                type="text"
                class="form-control"
                id="gender-input"
                name="gender"
            >
                <option value="">-- chon gioi tinh</option>
                <option value="male">Male</option>
                <option value="female">Female</option>

            </select>

        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>